*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}




.ball{
    width: 100px;
    height: 100px;
    background: #f50404;
    border-radius: 100px;
}