*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(246, 120, 75);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input{
    padding: 10px 20px;
    margin-top: 10px;
}
#btn{
    background: greenyellow;
    border: none;
}